//*
	Name: html-boilerplate-generator
	Author: Alek Mugnozzo (info@mugnozzo.net)
	Version: 1.1.0
	File: style.css (main stylesheet file)
	License: GPLv3 (see "LICENSE" file)
	Hosted at: https://github.com/mugnozzo/html-boilerplate-generator
*/
html,
body {
  margin: 0;
  padding: 0; }
